name: Nix CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  check:
    name: Nix Flake Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Configure Cachix
        uses: cachix/cachix-action@v16
        with:
          name: {% raw %}${{ github.repository_owner }}{% endraw %}
          authToken: {% raw %}${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && secrets.CACHIX_AUTH_TOKEN || '' }}{% endraw %}

      - name: Nix flake check
        run: nix flake check
